# dependencies
/node_modules
.keystone/
.keystone/admin/.next/cache

# misc
npm-debug.log
yarn.lock
package-lock.json
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db
.env
# IDE 
.history/*